<%- include('partials/header') %>
<body>
    
    <div class="navbar">
        <h1 style="padding-left: 5pxx;">Café N’ Chill</h1>
        <div class="link">
            <a href="home#cnt">HOME</a>
            <a href="home#a1">ABOUT US</a>
            <a href="home#tab1">MENU</a>
            <a href="home#foot">CONTACT US</a>
            
        </div>
    </div>
    <div id="cnt" class="container">
    <img class="img1" src="https://images.unsplash.com/photo-1544148103-0773bf10d330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGFibGUlMjByZXN0YXVyYW50fGVufDB8fDB8fA%3D%3D&w=1000&q=80" height="1200px" width="100%" alt="home" />
    <div class="imgtext">
    <form class="form" action="/booking" method="POST" >
        <p style="font-style: bold; text-align: center;font-size: 40px; padding-left: 130px; color: black; text-decoration: underline;">Book Table !!</p>
        <p class="bc">Guest Name</p>
        <% results.forEach((ele) => { %>
            <input id="user" class="inp" type="text" name="username" placeholder="Guest Name" value="<%= (ele.username)%>"/>
        
            <p id="usererror"></p>

            <p class="bc">Mobile No</p>
            <input id="ph" class="inp" type="text" name="phno" value="<%= (ele.user_id) %> " />
            <p id="pherror"></p>
        <% }); %>
        <p class="bc">Email Address</p>
        <input id="ea" class="inp" type="text" name="email" />
        <p id="emailerror"></p>
        <p class="bc">Select Date</p>
        <p id="pass" ></p>
        <input id="p"  class="inp" type="date" name="date" /><br />
        <p id="perror"></p>
        <p class="bc">Number of guest</p>
        <input id="cp" class="inp" type="number" name="seats" /><br />
        <p id="cperror"></p>
        <p id="sucess"></p>
        <br />
        <button class="btn" type="submit" name="Submit" onclick=" return submitform()">
        Book
      </button>
    </form>
    </div>
    </div>

    <script>
        let ph = document.getElementById("ph");
        let ea = document.getElementById("ea");
        let p = document.getElementById("p");
        let cp = document.getElementById("cp");
        let user = document.getElementById("user");
        let count = 0;
        let check = " ";
         user.focus();

        
        function submitform() {
            check = p.value;
            var email = ea.value.toString();
            var g1 = new Date();
            var today=g1.getDate().toString()
            var atpos = email.indexOf("@");
            var dotpos = email.lastIndexOf(".");
            var passw = /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{7,15}$/;
            if (user.value.trim().length == 0) {
                document.getElementById("usererror").innerHTML =
                    "Invalid Name !!";
                user.style.borderColor = "red";
            } else {
                count++;
            }
            if (ph.value.length != 10) {
                document.getElementById("pherror").innerHTML = "Invalid Mobile No !!";
                ph.style.borderColor = "red";
            } else {
                count++;
            }

            if (atpos < 1 || dotpos - atpos < 2 || dotpos <= 1) {
                document.getElementById("emailerror").innerHTML = "Invalid Email !!";
                ea.style.borderColor = "red";
            } else {
                count++;
            }
            
            
            if (cp.value <1) {
                document.getElementById("cperror").innerHTML =
                    "Invalid ";
                cp.style.borderColor = "red";
            } else {
                count++;
            }

            if (count == 4) {
                document.getElementById("sucess").innerHTML =
                    "Table Booked Sucessfully !!";
                console.log(user.value);
                console.log(ph.value);
                console.log(ea.value);
                console.log(p.value);
                console.log(cp.value);
            }
        }
    </script>
    <style>
        .navbar {
    z-index: 3;
    color: white;
    background-color: #121214;
    font-style: bold;
    margin: 10px 10px 10px 10px;
    width: 98%;
    display: flex;
    position: fixed;
    overflow: hidden;
    border-radius: 10px;
}

a {
    color: white;
    display: block;
    padding: 14px 16px;
    float: left;
    text-align: center;
    padding-top: 29px;
    text-size-adjust: 30px;
    font-size: 20px;
}

a:hover {
    background-color: rgb(77, 68, 68);
    cursor: pointer;
}


.link {
    padding-left: 50%;
    cursor: pointer;
}
.img1 {
    
   margin:0%;
   padding: 0%;
   background-size: cover;
   background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  top:0%;
  left: 0%;
  right: 0%;
}
.container {
    position: relative;
    z-index: 0;
}
.cnt {
    float: right;
   
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.imgtext {
    position: absolute;
    text-align: center;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
    color: white;
    top: 10%;
    left: 36%;
}

        
        
        .form {
            text-align: left;
            font-family: Georgia, "Times New Roman", Times, serif;
            color: white;
            
        }
        .bc{
            background-color:#121214;
            padding:3px;
            margin-right: 50%;
            
        }
        
        h1 {
            
            font-style: bold;
            font-family: Georgia, "Times New Roman", Times, serif;
        }
        
        p {
            font-family: "Times New Roman", Times, serif;
            font-size: 25px;
            font-style: bold;
            
              }
        
        .inp {
            height: 35px;
            width: 140%;
            border: black 2px solid;
        }
        
        .btn {
            margin-left:130px;
            margin-top: 20px;
            font-style: bold;
            border: 2px black solid;
            border-radius: 20px;
            font-size: 25px;
            height: 40%;
            width: 55%;
            cursor: pointer;
        }
        
        .btn:hover {
            color: white;
            background-color: black;
        }
        
        #zcerror,
        #pherror,
        #emailerror,
        #perror,
        #cperror,
        #usererror {
            color: red;
        }
        
        #sucess {
            color: green;
           padding-left: 126px;
        }
    </style>
<%- include('partials/footer') %>